<style>
	.spinner{
		top: 30%;
	}
</style>
<form class="auth-form">
	<div class="spinner-overlay" style="display: none">
		<div class="spinner">Loading...</div>
	</div>

	<div class="form-group">
		<div class="alert alert-danger d-none invisible" role="alert">
			Email does not exists.
		</div>
	</div>

	<div class="form-group">
		<div class="form-label-group">
			<input type="email" id="email" class="form-control" placeholder="Email" autocomplete="email" oninvalid="this.setCustomValidity('Please enter valid email address')" oninput="setCustomValidity('')" maxlength="50" required>
			<label for="email">Email</label>
		</div>
	</div>

	<div class="form-group">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
	</div>

	<div class="text-center pt-3">
		<a href="javascript:history.back()" class="link">Home</a>
	</div>

</form>

<script>

	//
	//	<<>	React when the user wants to reset their password
	//
	$('form').on("submit", function (event) {

		//
		//	1.	Start the loader
		//
		$('.spinner-overlay').show();

		//
		//	2.	Prevent the default form action so we can process the action
		//		our way
		//
		event.preventDefault();

		//
		//	3.	Get the user email
		//
		var email = $('#email').val();

		//
		//	4.	Create a Cognito User based on the provided email
		//
		var cognitoUser = new AmazonCognitoIdentity.CognitoUser({
			Username: email,
			Pool: userPool,
			Storage: new AmazonCognitoIdentity.CookieStorage({
				domain: cookie_domain
			})
		});

		//
		//	5.	Call Cognito and ask it to set the user in Reset mode, while also
		//		sending a reset email to their account
		//
		cognitoUser.forgotPassword({
			onSuccess: on_success,
			onFailure: on_failure
		});

		//	 _    _   ______   _        _____    ______   _____     _____
		//	| |  | | |  ____| | |      |  __ \  |  ____| |  __ \   / ____|
		//	| |__| | | |__    | |      | |__) | | |__    | |__) | | (___
		//	|  __  | |  __|   | |      |  ___/  |  __|   |  _  /   \___ \
		//	| |  | | | |____  | |____  | |      | |____  | | \ \   ____) |
		//	|_|  |_| |______| |______| |_|      |______| |_|  \_\ |_____/
		//

		//
		//	6.	React when Cognito say that everything is ok
		//
		function on_success(result) {

			//
			//	1.	Stop the spinner
			//
			$('.spinner-overlay').hide();

			//
			//	->	Redirect to the Dashboard
			//
			window.location.replace('/message_reset');
		}

		//
		//	7.	React when Cognito encounters an error
		//
		function on_failure(error) {

			//
			//	1.	Stop the spinner
			//
			$('.spinner-overlay').hide();

			//
			//	2.	Display the error message to the user
			//
			$('.alert').removeClass('invisible')
					   .removeClass('d-none')
					   .addClass('visible');

		}

	});

</script>